# 줄바꿈 자동 처리
* text=auto

# Unity 전용 binary 파일
*.unity binary
*.prefab binary
*.asset binary
*.mat binary
*.fbx binary
*.png binary
*.jpg binary
*.ogg binary
*.wav binary
*.mp3 binary
*.psd binary

# C# 코드만 LF 강제 적용하고 싶다면
*.cs text eol=lf
