# ========== Unity 기본 ========== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
UserSettings/

# ========== OS 및 에디터 무시 ========== #
.DS_Store
*.swp
*.lock
*.tmp
*.bak

# ========== IDE 관련 ========== #
# VS / Rider / JetBrains
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# ========== Unity Cloud 관련 ========== #
sysinfo.txt

# ========== 예외 처리 ========== #
!Assets/
!ProjectSettings/
!Packages/manifest.json
